<template name="authorization">
	<div class="container">
		<p>SignIn Form</p>
		{{> atForm state='signIn'}}

		{{#if currentUser}}
			<p>You are signed as: {{user.profile.firstname}} {{user.profile.lastname}}</p>
		{{/if}}
	</div>
</template>