<template name="navbar">
	<div class="navbar navbar-default navbar-fixed-static-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{pathFor "authorization"}}">Authorization</a>
				<a class="navbar-brand" href="{{pathFor "registration"}}">Registration</a>
			</div>
		</div>
	</div>
</template>